.paddle {
  width: 25px;
  height: 100px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px lightgray;

  /* positioning */
  position: absolute;
  transform: translateY(50%);
}

.playerOne {
  background-color: salmon;
  bottom: 50%;
  /* positioning */
  left: 20px;
}

.playerTwo {
  background-color: rebeccapurple;
  bottom: 50%;
  /* positioning */
  right: 20px;
}
