.paddle1 {
  width: 25px;
  height: 100px;
  background-color: salmon;
  border-radius: 8px;
  box-shadow: 2px 2px 2px lightgray;
}

.paddle2 {
  width: 25px;
  height: 100px;
  background-color: rebeccapurple;
  border-radius: 8px;
  box-shadow: 2px 2px 2px lightgray;
  justify-self: flex-start;
}
