.paddle {
  width: 25px;
  height: 100px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px lightgray;
}

.playerOne {
  background-color: salmon;
}

.playerTwo {
  background-color: rebeccapurple;
}
